<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Conversor de Temperaturas</h1>
      <p>Este conversor te permite convertir entre diferentes unidades de temperatura, incluyendo Celsius, Fahrenheit y Kelvin.</p>

      <h2>¿Cómo usar el conversor?</h2>
      <p>Sigue estos pasos:</p>
      <ol>
        <li>Selecciona el tipo de conversión que deseas realizar (por ejemplo, de Celsius a Fahrenheit).</li>
        <li>Ingresa el valor de la temperatura que quieres convertir.</li>
        <li>Haz clic en el botón "Convertir".</li>
        <li>El resultado de la conversión aparecerá de inmediato. :)</li>
        <li>Puedes explorar otros tipos de conversiones para convertir el mismo valor a diferentes unidades.</li>
      </ol>

      <h3>Tipos de conversión disponibles:</h3>
      <ul>
        <li>Celsius a Fahrenheit (C°aF°)</li>
        <li>Celsius a Kelvin (C°aK°)</li>
        <li>Fahrenheit a Celsius (F°aC°)</li>
        <li>Fahrenheit a Kelvin (F°aK°)</li>
        <li>Kelvin a Celsius (K°aC°)</li>
        <li>Kelvin a Fahrenheit (K°aF°)</li>
      </ul>

      <p>Haz clic en el enlace para empezar a convertir:</p>
      <a class="btn btn-dark" routerLink="/conversion/cf">Comenzar conversión (C° a F°)</a>
    </div>
    <br>
    <br>
  </div>
</div>
